{% if caseDetails %}
<section class='banner banner-secondary' aria-label='Objective'>
    <div class='banner-content govuk-width-container govuk-body'>
        <span data-qa='objective' title='{{ objective.description | escape }}'><strong>Objective: </strong>{{ objective.description | escape }}</span>
    </div>
</section>
{% endif %}