<div class="govuk-width-container">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: { text: "Alpha" },
        html: 'This is a new service – your <a class="govuk-link feedback" href="mailto:probation-integration-team@digital.justice.gov.uk?subject=Sentence Plan Feedback">feedback</a> will help us to improve it.'
    }) }}
</div>