.govuk-summary-card {
  &.parent-card, &.child-card {
    margin-bottom: 0;
  }
  &.child-card {
    border-top: 0;
    & .govuk-summary-card__title-wrapper {
      background-color: govuk-colour('white');
      border-bottom: 1px solid govuk-colour('mid-grey');
      & .govuk-summary-card__title::before {
        content: "•";
        margin-right: 8px;
      }
    }
  }
}

.parent-card + :not(.child-card), .child-card + :not(.child-card) {
  margin-top: 30px;
}
