{% extends "../../partials/layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Confirm Start Sentence Plan" %}
{% set mainClasses = "app-container govuk-body" %}

{% block banner %}
  {% include "../../partials/caseDetailsBanner.njk" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/sentence-plan/" + sentencePlan.id + "/start-review" }) }}
{% endblock %}

{% block content %}
{% set html %}
  <p class="govuk-notification-banner__heading">You must make sure the OASys risk assessment is closed</p>
  <p>Now you are about to ‘Start’ a new sentence plan you must make sure the OASys risk assessment is closed. Log into OASys and close the assessment, then proceed to Start Plan.</p>
  <p>Have you closed the OASys Risk Assessment?</p>
  <p>If so, you can now start this Sentence Plan by selecting .Start Plan This will permanently save all content you have just created, and will make the Sentence Plan active, so the plan is ready for you can start working collaboratively on with the individual. </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

<form method="POST" action="/sentence-plan/{{ sentencePlan.id }}/start">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-button-group">
      {{ govukButton({ text: "Start Sentence Plan", name: "confirm-start-plan", attributes: { "data-qa": "start-sentence-plan-button" } }) }}
      {{ govukButton({ text: "Cancel", classes: "govuk-button--secondary", "href": "/sentence-plan/" + sentencePlan.id + "/start-review" }) }}
  </div>
</form>

{% endblock %}