{% extends "../../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/task-list/macro.njk" import mojTaskList %}

{% set pageTitle = applicationName + " - Create a sentence plan" %}
{% set mainClasses = "app-container govuk-body" %}

{% block banner %}
    {% include "../../partials/caseDetailsBanner.njk" %}
{% endblock %}

{% block content %}
    {% if sentencePlan.status == "Draft" %}
        <h2 class="govuk-heading-xl">Create a sentence plan</h2>
    {% else %}
        <h2 class="govuk-heading-xl">Review a sentence plan</h2>
    {% endif %}

    <div class="govuk-!-width-two-thirds">
        {{ govukDetails({
            summaryText: "What should I include in a sentence plan?",
            text: "Details to be confirmed."
        }) }}

        {{ mojTaskList({
            sections: [
                {
                    heading: { text: "Write about the individual" },
                    items: [
                        {
                            text: "Engagement and compliance",
                            href: "./engagement-and-compliance",
                            complete: sentencePlan.riskFactors != null and sentencePlan.positiveFactors != null
                        },
                        { text: "Something else", href: "#", complete: false }
                    ]
                },
                {
                    heading: { text: "Set objectives" },
                    items: [
                        { text: "1. Complete unpaid work", attributes: {"data-actions": "1"}, href: "./objective/1" },
                        { text: "2. Some other objective", attributes: {"data-actions": "3"}, href: "./objective/2" },
                        { html: "<a href='./add-objective' role='button' class='govuk-button govuk-button--secondary'>Add another</a> <a href='./reorder-objectives' role='button' class='govuk-button govuk-button--secondary'>Re-order</a>" }
                    ]
                },
                {
                    heading: { text: "Final information" },
                    items: [
                        { text: "Your decisions", href: "./your-decisions" },
                        { text: "Individual's comments", href: "./individuals-comments" }
                    ]
                },
                {
                    heading: { text: "Check your answers" },
                    items: [
                        { text: "Check your answers", href: "./check-your-answers" }
                    ]
                }
            ]
        }) }}

    </div>
{% endblock %}
