{% extends "../../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/task-list/macro.njk" import mojTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Create a sentence plan" %}
{% set mainClasses = "app-container govuk-body" %}

{% block banner %}
    {% include "../../partials/caseDetailsBanner.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: "/case/" + sentencePlan.crn }) }}
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-xl">Create a sentence plan</h2>

    <div class="govuk-!-width-two-thirds">
        {{ govukDetails({
            summaryText: "What should I include in a sentence plan?",
            text: "Details to be confirmed."
        }) }}

        {{ mojTaskList({
            sections: [
                {
                    heading: { text: "Write about the individual" },
                    items: [{
                        text: "Engagement and compliance",
                        href: "./engagement-and-compliance",
                        complete: sentencePlan.riskFactors != null and sentencePlan.protectiveFactors != null
                    }]
                },
                {
                    heading: { text: "Set objectives" },
                    items: objectives.concat({
                        html: "<a href='./add-objective' role='button' class='govuk-button govuk-button--secondary' data-qa='add-objective'>" + ("Add an objective" if objectives.length == 0 else "Add another") + "</a>"
                    })
                },
                {
                    heading: { text: "Final information" },
                    items: [
                        {
                            text: "Your decisions",
                            href: "./your-decisions",
                            complete: sentencePlan.practitionerComments != null
                        },
                        {
                            text: "Individual's comments",
                            href: "./individuals-comments",
                            complete: sentencePlan.individualComments != null
                        }
                    ]
                },
                {
                    heading: { text: "Review & start plan" },
                    items: [
                        { text: "Review & start plan", href: "./start-review", attributes: { "data-qa": "review-start-plan" } }
                    ]
                }
            ]
        }) }}

        {% set html %}
            <p class="govuk-inset-text">
                Everything created on this draft plan has been saved. Selecting to return to start allows you to start a new plan for a different individual. You can re-open this plan by searching using the CRN or Individual’s name.
                <br>
                <a class="govuk-notification-banner__link" href="/">Return to start</a>.
            </p>
        {% endset %}

        {{ govukDetails({
            summaryText: "return to start",
            html: html
        }) }}

    </div>
{% endblock %}
