{% extends "../partials/layout.njk" %}
{% from "probationSearch/macro.njk" import probationSearch %}

{% set pageTitle = applicationName + " - Search for a person" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        {{ probationSearch({
            id: "search",
            name: "search",
            results: probationSearchResults,
            label: { text: "Who is this sentence plan for?", classes: "govuk-label--l", isPageHeading: true }
        }) }}
    </div>
{% endblock %}
